.home {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .home .div {
    background-color: #ffffff;
    height: 5052px;
    overflow: hidden;
    position: relative;
    width: 1440px;
  }
  
  .home .overlap {
    height: 4052px;
    left: -36px;
    position: absolute;
    top: 0;
    width: 1480px;
  }
  
  .home .group {
    background-color: #fbebb5;
    height: 100px;
    left: 36px;
    position: absolute;
    top: 0;
    width: 1440px;
  }
  
  .home .navbar {
    height: 24px;
    left: 505px;
    position: absolute;
    top: 38px;
    width: 438px;
  }
  
  .home .text-wrapper {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 16px;
    font-weight: 500;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .home .text-wrapper-2 {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 16px;
    font-weight: 500;
    left: 123px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .home .text-wrapper-3 {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 16px;
    font-weight: 500;
    left: 240px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .home .text-wrapper-4 {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 16px;
    font-weight: 500;
    left: 364px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .home .img {
    height: 28px;
    left: 1093px;
    position: absolute;
    top: 36px;
    width: 247px;
  }
  
  .home .overlap-group-wrapper {
    height: 1000px;
    left: 36px;
    position: absolute;
    top: 0;
    width: 1440px;
  }
  
  .home .overlap-group {
    height: 1058px;
    position: relative;
  }
  
  .home .rectangle {
    background-color: #fbebb5;
    height: 900px;
    left: 0;
    position: absolute;
    top: 100px;
    width: 1440px;
  }
  
  .home .rocket-single-seater {
    height: 1058px;
    left: 557px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 883px;
  }
  
  .home .group-2 {
    height: 276px;
    left: 202px;
    position: absolute;
    top: 428px;
    width: 442px;
  }
  
  .home .text-wrapper-5 {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 64px;
    font-weight: 500;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 440px;
  }
  
  .home .group-3 {
    height: 49px;
    left: 4px;
    position: absolute;
    top: 227px;
    width: 123px;
  }
  
  .home .text-wrapper-6 {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 24px;
    font-weight: 500;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .home .line {
    height: 2px;
    left: 0;
    position: absolute;
    top: 47px;
    width: 121px;
  }
  
  .home .group-4 {
    background-color: #f9f4f4;
    height: 672px;
    left: 36px;
    position: absolute;
    top: 996px;
    width: 1440px;
  }
  
  .home .div-wrapper {
    height: 562px;
    left: 100px;
    position: absolute;
    top: 51px;
    width: 607px;
  }
  
  .home .overlap-group-2 {
    height: 562px;
    position: relative;
    width: 605px;
  }
  
  .home .group-5 {
    height: 49px;
    left: 106px;
    position: absolute;
    top: 460px;
    width: 127px;
  }
  
  .home .mask-group {
    height: 562px;
    left: 0;
    position: absolute;
    top: 0;
    width: 605px;
  }
  
  .home .text-wrapper-7 {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 36px;
    font-weight: 500;
    left: 105px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 383px;
  }
  
  .home .overlap-wrapper {
    height: 562px;
    left: 735px;
    position: absolute;
    top: 51px;
    width: 607px;
  }
  
  .home .text-wrapper-8 {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 36px;
    font-weight: 500;
    left: 106px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 383px;
  }
  
  .home .group-6 {
    height: 777px;
    left: 36px;
    position: absolute;
    top: 1663px;
    width: 1444px;
  }
  
  .home .overlap-2 {
    background-color: #ffffff;
    height: 777px;
    position: relative;
    width: 1440px;
  }
  
  .home .text-wrapper-9 {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 36px;
    font-weight: 500;
    left: 564px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 55px;
  }
  
  .home .p {
    color: #9f9f9f;
    font-family: "Poppins", Helvetica;
    font-size: 16px;
    font-weight: 500;
    left: 333px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 122px;
  }
  
  .home .group-7 {
    height: 372px;
    left: 100px;
    position: absolute;
    top: 211px;
    width: 287px;
  }
  
  .home .mask-group-2 {
    height: 287px;
    left: 0;
    position: absolute;
    top: 0;
    width: 287px;
  }
  
  .home .group-8 {
    height: 71px;
    left: 0;
    position: absolute;
    top: 301px;
    width: 198px;
  }
  
  .home .text-wrapper-10 {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .home .text-wrapper-11 {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 24px;
    font-weight: 500;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 35px;
  }
  
  .home .group-9 {
    height: 397px;
    left: 417px;
    position: absolute;
    top: 211px;
    width: 287px;
  }
  
  .home .group-10 {
    height: 96px;
    left: 0;
    position: absolute;
    top: 301px;
    width: 216px;
  }
  
  .home .text-wrapper-12 {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 212px;
  }
  
  .home .text-wrapper-13 {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 24px;
    font-weight: 500;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 60px;
  }
  
  .home .group-11 {
    height: 397px;
    left: 735px;
    position: absolute;
    top: 211px;
    width: 287px;
  }
  
  .home .group-12 {
    height: 397px;
    left: 1053px;
    position: absolute;
    top: 211px;
    width: 287px;
  }
  
  .home .group-13 {
    height: 96px;
    left: 0;
    position: absolute;
    top: 301px;
    width: 203px;
  }
  
  .home .text-wrapper-14 {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 199px;
  }
  
  .home .group-14 {
    height: 49px;
    left: 662px;
    position: absolute;
    top: 677px;
    width: 117px;
  }
  
  .home .text-wrapper-15 {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 20px;
    font-weight: 500;
    left: 5px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .home .line-2 {
    height: 2px;
    left: 0;
    position: absolute;
    top: 47px;
    width: 115px;
  }
  
  .home .group-15 {
    height: 799px;
    left: 0;
    position: absolute;
    top: 2389px;
    width: 1476px;
  }
  
  .home .overlap-3 {
    height: 799px;
    left: 36px;
    position: relative;
    width: 1440px;
  }
  
  .home .rectangle-2 {
    background-color: #fff9e5;
    height: 639px;
    left: 0;
    position: absolute;
    top: 80px;
    width: 1440px;
  }
  
  .home .asgaard-sofa {
    height: 799px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 947px;
  }
  
  .home .group-16 {
    height: 205px;
    left: 1012px;
    position: absolute;
    top: 297px;
    width: 331px;
  }
  
  .home .group-17 {
    height: 108px;
    left: 0;
    position: absolute;
    top: 0;
    width: 335px;
  }
  
  .home .text-wrapper-16 {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 24px;
    font-weight: 500;
    left: 91px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .home .text-wrapper-17 {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 48px;
    font-weight: 700;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 36px;
  }
  
  .home .group-18 {
    height: 64px;
    left: 38px;
    position: absolute;
    top: 141px;
    width: 257px;
  }
  
  .home .overlap-group-3 {
    background-color: #fff9e5;
    border: 1px solid;
    border-color: #000000;
    height: 64px;
    position: relative;
    width: 255px;
  }
  
  .home .text-wrapper-18 {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 74px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 16px;
  }
  
  .home .group-19 {
    background-color: #ffffff;
    height: 944px;
    left: 36px;
    position: absolute;
    top: 3108px;
    width: 1440px;
  }
  
  .home .group-20 {
    height: 91px;
    left: 480px;
    position: absolute;
    top: 55px;
    width: 483px;
  }
  
  .home .text-wrapper-19 {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 36px;
    font-weight: 500;
    left: 153px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .home .text-wrapper-20 {
    color: #9f9f9f;
    font-family: "Poppins", Helvetica;
    font-size: 16px;
    font-weight: 500;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 67px;
  }
  
  .home .group-21 {
    height: 679px;
    left: 100px;
    position: absolute;
    top: 211px;
    width: 1240px;
  }
  
  .home .group-22 {
    height: 49px;
    left: 557px;
    position: absolute;
    top: 630px;
    width: 128px;
  }
  
  .home .text-wrapper-21 {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 20px;
    font-weight: 500;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .home .line-3 {
    height: 2px;
    left: 6px;
    position: absolute;
    top: 47px;
    width: 115px;
  }
  
  .home .group-23 {
    height: 555px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1240px;
  }
  
  .home .group-24 {
    height: 555px;
    left: 0;
    position: absolute;
    top: 0;
    width: 393px;
  }
  
  .home .rectangle-3 {
    height: 393px;
    left: 0;
    position: absolute;
    top: 0;
    width: 393px;
  }
  
  .home .group-25 {
    height: 129px;
    left: 27px;
    position: absolute;
    top: 426px;
    width: 341px;
  }
  
  .home .text-wrapper-22 {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .home .group-26 {
    height: 46px;
    left: 104px;
    position: absolute;
    top: 40px;
    width: 132px;
  }
  
  .home .line-4 {
    height: 2px;
    left: 11px;
    position: absolute;
    top: 44px;
    width: 115px;
  }
  
  .home .group-27 {
    height: 24px;
    left: 58px;
    position: absolute;
    top: 105px;
    width: 223px;
  }
  
  .home .group-28 {
    height: 24px;
    left: 92px;
    position: absolute;
    top: 0;
    width: 133px;
  }
  
  .home .text-wrapper-23 {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 16px;
    font-weight: 300;
    left: 32px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .home .uil-calender {
    height: 22px;
    left: 0;
    position: absolute;
    top: 0;
    width: 22px;
  }
  
  .home .group-29 {
    height: 24px;
    left: 0;
    position: absolute;
    top: 0;
    width: 75px;
  }
  
  .home .text-wrapper-24 {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 16px;
    font-weight: 300;
    left: 28px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .home .group-30 {
    height: 20px;
    left: -1px;
    position: absolute;
    top: 2px;
    width: 20px;
  }
  
  .home .group-31 {
    height: 554px;
    left: 424px;
    position: absolute;
    top: 0;
    width: 393px;
  }
  
  .home .group-32 {
    height: 128px;
    left: 27px;
    position: absolute;
    top: 426px;
    width: 341px;
  }
  
  .home .group-33 {
    height: 24px;
    left: 58px;
    position: absolute;
    top: 104px;
    width: 223px;
  }
  
  .home .group-34 {
    height: 553px;
    left: 847px;
    position: absolute;
    top: 0;
    width: 393px;
  }
  
  .home .group-35 {
    height: 127px;
    left: 28px;
    position: absolute;
    top: 426px;
    width: 341px;
  }
  
  .home .group-36 {
    height: 24px;
    left: 58px;
    position: absolute;
    top: 103px;
    width: 223px;
  }
  
  .home .overlap-4 {
    height: 1000px;
    left: 0;
    position: absolute;
    top: 4052px;
    width: 1440px;
  }
  
  .home .group-wrapper {
    background-image: url(https://c.animaapp.com/PRO8PvKo/img/rectangle-17.svg);
    background-size: 100% 100%;
    height: 450px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1440px;
  }
  
  .home .group-37 {
    height: 202px;
    left: 493px;
    position: relative;
    top: 124px;
    width: 454px;
  }
  
  .home .group-38 {
    height: 120px;
    left: 0;
    position: absolute;
    top: 0;
    width: 458px;
  }
  
  .home .text-wrapper-25 {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 60px;
    font-weight: 700;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .home .text-wrapper-26 {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 78px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 90px;
  }
  
  .home .group-39 {
    height: 104px;
    left: 79px;
    position: absolute;
    top: 138px;
    width: 295px;
  }
  
  .home .group-40 {
    background-color: #ffffff;
    height: 555px;
    left: 0;
    position: absolute;
    top: 445px;
    width: 1440px;
  }
  
  .home .group-41 {
    height: 419px;
    left: 100px;
    position: relative;
    top: 98px;
    width: 1240px;
  }
  
  .home .group-42 {
    height: 312px;
    left: 2px;
    position: absolute;
    top: 0;
    width: 1133px;
  }
  
  .home .element-university-drive {
    color: #9f9f9f;
    font-family: "Poppins", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 108px;
    width: 285px;
  }
  
  .home .group-43 {
    height: 312px;
    left: 421px;
    position: absolute;
    top: 0;
    width: 710px;
  }
  
  .home .group-44 {
    height: 312px;
    left: 0;
    position: absolute;
    top: 0;
    width: 352px;
  }
  
  .home .group-45 {
    height: 312px;
    left: 0;
    position: absolute;
    top: 0;
    width: 70px;
  }
  
  .home .group-46 {
    height: 233px;
    left: 2px;
    position: absolute;
    top: 79px;
    width: 74px;
  }
  
  .home .text-wrapper-27 {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 16px;
    font-weight: 500;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 70px;
  }
  
  .home .text-wrapper-28 {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 16px;
    font-weight: 500;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 140px;
  }
  
  .home .text-wrapper-29 {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 16px;
    font-weight: 500;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 209px;
  }
  
  .home .text-wrapper-30 {
    color: #9f9f9f;
    font-family: "Poppins", Helvetica;
    font-size: 16px;
    font-weight: 500;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .home .group-47 {
    height: 242px;
    left: 212px;
    position: absolute;
    top: 0;
    width: 142px;
  }
  
  .home .group-48 {
    height: 163px;
    left: 0;
    position: absolute;
    top: 79px;
    width: 146px;
  }
  
  .home .text-wrapper-31 {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 16px;
    font-weight: 500;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 139px;
  }
  
  .home .group-49 {
    height: 101px;
    left: 424px;
    position: absolute;
    top: 2px;
    width: 288px;
  }
  
  .home .group-50 {
    height: 24px;
    left: 0;
    position: absolute;
    top: 77px;
    width: 290px;
  }
  
  .home .text-wrapper-32 {
    color: #9f9f9f;
    font-family: "Poppins", Helvetica;
    font-size: 14px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .home .line-5 {
    height: 1px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 23px;
    width: 200px;
  }
  
  .home .text-wrapper-33 {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 14px;
    font-weight: 500;
    left: 211px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .home .line-6 {
    height: 1px;
    left: 211px;
    object-fit: cover;
    position: absolute;
    top: 23px;
    width: 75px;
  }
  
  .home .group-51 {
    height: 59px;
    left: 0;
    position: absolute;
    top: 360px;
    width: 1242px;
  }
  
  .home .line-7 {
    height: 1px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: -1px;
    width: 1240px;
  }
  
  .home .text-wrapper-34 {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 2px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 35px;
  }
  